/*setear mi css*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #303030;
  font-family: 'Raleway', sans-serif;
}

/*clases reutilizables*/
/*h1,h2,ul,...*/
.text-uppercase {
  text-transform: uppercase;
}

/*clases especificas*/
li a {
  text-decoration: none;
  color: inherit;
}

ul li /* ul*/{
  list-style: none;
  display: inline;
  margin: 10px;
}

.logo-header {
  width: 200px;
}

header {
  position: relative;
}
nav {
position: absolute;
right: 5%;
top: 50%;
transform: translateY(-50%); /*transfomar mi caja  se mueve en el eje de y en la mitad*/

}
 .box-header {
   display: inline-block;
 }
